@charset "UTF-8";

@import url(style.css);
@import url(variables.css);
@import url(animations.css);

/* menu e navbar */

@media (max-width: 1314px) {
    .nav-menu {
        width: 100%;
    }

    .navbar-list {
        background-color: var(--DarkKhaki);
        padding: 10% 10%;
    }

    .menu-icon {
        margin-right: 1%;
    }

    .close-icon {
        margin-right: 3%;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 0.5rem;
    }

    .nav-menu {
        width: 100%;
    }

    .logo {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }

    .navbar-list {
        font-size: 2rem;
    }

    .menu-icon {
        margin-right: 0.5rem;
    }
}

@media (max-width: 432px) {
    .navbar-list li > a {
        font-size: 1.4rem;
        color: black;
        padding: 0.5rem;
        font-weight: 700;
    }
}

/* hero */

@media (max-width: 1043px) {
    .hero-img {
        height: 50px;
        width: 50px;

        margin: 0;
        display: block;
    }
}

@media (max-width: 768px) {
    .hero {
        background-attachment: scroll;
        padding: 2rem 0;
    }
    
    .hero .hero-text-container {
        padding: 0.5rem;
        font-size: 1rem;
    }
}

/* prod-colect */

@media (max-width: 768px) {
    .carousel-caption {
        display: block !important;
        font-size: 0.9rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.350);
        border-radius: 8px;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        font-size: 0.8rem;
        padding: 0.5rem;
        text-align: center;
    }
}

/* loc-contact */

@media (max-width: 1200px) {
    .map {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .map {
        width: 400px;
        height: 350px;
    }
}

@media (max-width: 432px) {
    .map {
        width: 300px;
        height: 250px;
    }
}
