@charset "UTF-8";

@import url(responsive.css);
@import url(variables.css);

/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main[class^="container"] {
    padding: 4rem 2rem;
}

main {
    min-height: 80vh;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main:not(:first-of-type) {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-principal);
}

a, ul, li {
    text-decoration: none;
    list-style: none;
    color: black; 
}

section {
    min-height: 80vh;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header e menu */

.header {
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: var(--OliveDrab);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    transition: all 0.4s ease-in-out;
}

.logo a:hover {
    font-size: 2.1rem;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    background-color: var(--OliveDrab);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    user-select: none;
    transition: right 0.5s, opacity 0.4s;
}

.open {
    right: 0;
    opacity: 1;
}

.slide-in {
    right: 0;
    opacity: 1
}

.menu-icon {
    font-size: 2.2rem;
    z-index: 999;
    margin-right: 1rem;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.close-icon {
    position: absolute;
    font-size: 2.2rem;
    right: 0;
    top: 0;
    margin-top: 1.7rem;
    margin-right: 1.4rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.close-icon:hover, .menu-icon:hover {
    font-size: 2.4rem;
}

.navbar-list {
    text-decoration: none;
    text-align: center;
    margin: 0;
    background-color: var(--DarkKhaki);
    padding: 15% 10%;
    border-radius: 40px;
    transition: all 0.5s ease-in-out;
}

.navbar-list:hover {
    box-shadow: 3px 3px 0 var(--BurlyWood);
}

.navbar-list li {
    margin: 1rem 0;
}

.navbar-list a {
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 35px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}

.navbar-list li a:hover {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.200);
    font-size: 1.8rem;
}

/* hero */

.hero {
    padding-top: 72px;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 90vh;    
    background-image: url(../static/images/natur_ft3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; /* TODO: corrigir a imagem, melhorar a qualidade e formato */
    background-repeat: no-repeat; /* TODO: a responsividade da imagem quebra no tamanho maior ou igual a 496px */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.200);
}

.hero .hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;
    padding: 1rem;
    background-color: var(--SkyBlue); /* TODO: corrigir a cor e o fundo da caixa/cor */
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.hero .hero-text-container:hover {
    box-shadow: 2px 2px 0 var(--BurlyWood);
}

.hero .hero-title {
    text-align: center;
    font-weight: 650;
    font-family: var(--fonte-principal);
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.3rem;
}

/* sobre */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
}

.about .about-title {
    font-weight: 600;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 1rem;
}

.about .about-img-container {
    padding: 0;
    border-radius: 30% 30% 30% 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    margin: 1rem auto;
}

.about .about-img-container:hover {
    border-radius: 0;
    box-shadow: 4px 4px 0 var(--BurlyWood);
    transform: scale(1.01);
}

.about .about-subtitle {
    font-weight: 550;
    text-align: center;
    font-family: var(--fonte-principal);
}

.about .about-text {
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
    margin: 1rem auto;
    padding: 0 auto;
    background-color: var(--SkyBlue);
    padding: 1rem;
    border-radius: 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.182);
    color: black;
}

/* produtos e coleções */

.prod-colect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--DarkKhaki);
    padding: 2rem 0;
}

.prod-colect .prod-colect-title {
    font-weight: 600;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 1rem;
}

.prod-colect .prod-colect-subtitle {
    font-weight: 550;
    text-align: center;
    font-family: var(--fonte-principal);
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    font-size: 1.5rem;
}

/* releases */

.releases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 2rem 0;
}

.releases .releases-title {
    font-weight: 600;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 1rem;
}

.releases .releases-subtitle {
    font-weight: 550;
    text-align: center;
    font-family: var(--fonte-principal);
}

.releases-text {
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
    margin: 1rem auto;
    padding: 0 auto;
    padding: 1rem;
    color: black;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.grid-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* localização e contato */ 

.loc-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding: 2rem 0;
    background-color: var(--DarkKhaki);
}

.loc-contact .contact-title {
    font-weight: 600;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 1rem;
}

.loc-contact .contact-subtitle {
    font-weight: 500;
    text-align: center;
    font-family: var(--fonte-principal);
}

.map {
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.250);
}

.contact-text-container {
    background-color: var(--BurlyWood);
    padding: 1rem;
    border-radius: 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.182);
    color: black;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text {
    text-align: center;
    font-size: 1.1rem;
    padding: 0;
    margin: 0.5rem auto;
    font-weight: 455;
}

.container-contact-icons > a, i {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: auto;
    transition: all 0.5s ease-in-out;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin: 0.7rem;
}

.container-contact-icons > a:hover, i:hover {
    color: var(--SkyBlue);
    font-size: 1.6rem;
}

.icons-contact-text {
    text-align: center;
    margin: 1rem auto;
    padding: 0;
    color: var(--CadetBlue);
    font-size: 1.4rem;
    font-weight: 650;
}

